.create-list-form {
  min-height: 200px;
  display: flex;
  margin-bottom: 35px;
  position: relative;
  padding-bottom: 28px;
}

.create-list-text-fields-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4em;
  line-height: 1;
  padding-bottom: 30px;
  font-weight: 100;
  flex: 1;
  overflow: hidden;
}

.create-list-text-fields {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
}

.create-list-btn {
  position: absolute;
  bottom: -28px;
  right: 28px;
}

@media only screen
  and (max-device-width: 736px) {

  .create-list-form {
    flex-direction: column;
    padding-top: 40px;
  }

  .create-list-text-fields-container {
    font-size: 2.4em;
  }

  .create-list-text-fields {
    flex-direction: column;
    align-items: center;
  }
}