.list-list-container {
  margin-bottom: 76px;
  display: flex;
  align-items: flex-start;
}

.list-list-paper {
  margin-right: 20px;
  flex: 1;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}