.typist-container {
  display: flex;
  flex-direction: column;
  font-size: 4rem;
  align-items: center;
  font-weight: 100;
  width: 100%;
  justify-content: flex-end;
}

.Typist {
  font-weight: 200;
}

.i-want-to {
  font-size: .8em;
}

@media only screen
  and (max-device-width: 736px) {

  .typist-container {
    display: block;
    margin: 0 20px;
  }
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}