.list-page-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  align-items: start;
  margin-bottom: 76px;
}

.list-page-container .right {
  grid-column: 2 / span 1;
  grid-row: 1 / 6;
}

.list-item-form,
.clone-list {
  margin-bottom: 20px;
}

.list-name {
  font-weight: 100;
  font-size: 3em;
  grid-column: 1 / span 1;
}

@media only screen
  and (max-device-width: 736px) {

  .list-page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 10px;
    margin-right: 10px;
  }

  .list-name {
    font-size: 2em;
  }

  .list-progress {
    margin-top: 10px;
  }

  .list-item-form,
  .right,
  .list-detail,
  .list-progress,
  .clone-list {
    margin-bottom: 10px;
  }

  .clone-list-container {
    flex-direction: column;
  }

  .do-this-too {
    margin-bottom: 10px;
  }
}

.list-detail {
  padding: 20px;
}

.list-image {
  object-fit: cover;
  max-height: 350px;
}

.list-link {
  font-size: .4em;
  text-decoration: none;
  font-weight: 400;
  vertical-align: middle;
  display: inline-flex;
}

.list-progress {
  grid-column: 1 / span 1;
}

.list-detail.sharebar {
  grid-column: 1 / 2;
}

.list-chips {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.related-lists {
  width: 100%;
  grid-column: 1 / span 1;
}

.clone-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.do-this-too {
  font-weight: 200;
  font-size: 1.5em;
}
