.list-page-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: start;
}

@media only screen
  and (max-device-width: 736px) {

  .list-page-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .list-items-container,
  .list-detail {
    margin: 0 20px 20px 20px;
  }

  .list-items-container {
    margin-bottom: 76px;
  }
}

.list-detail {
  padding: 20px;
}

.list-name {
  font-weight: 100;
  font-size: 3em;
  grid-row: 1 / 2;
}

.list-progress {
  grid-row: 2 / 3;
}

.list-users {
  margin-top: 20px;
}

.list-chips {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.list-items-container {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}