.list-page-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: start;
}

.list-detail {
  padding: 20px;
}

.list-name {
  font-weight: 100;
  font-size: 3em;
  grid-row: 1 / 2;
}

.list-progress {
  grid-row: 2 / 3;
}

.list-items-container {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
}