.login-hero-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.login-hero-container .container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  justify-content: space-around;
  overflow: hidden;
  margin-top: 84px;
}

.login-hero-container .typist-container {
  flex: .75;
}

.login-hero-container .tagline {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  font-weight: 200;
}

.login-hero-container .login-button {
  align-self: center;
  margin-bottom: 40px;
}

@media only screen
  and (max-device-width: 736px) {

  .login-hero-container {
    min-height: 95vh;
    height: auto;
  }
}